@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
    font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
}

/* Sidebar styling */

.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebarOption .material-symbols-outlined, 
.fa-twitter {
    padding: 20px;
}

.sidebarOption h2 {
    font-weight: 800;
    font-family: 20px;
    margin-right: 20px;
}

.sidebarOption:hover {
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}

.sidebarOption.active {
    color: var(--twitter-color);
}

.sidebar__tweet {
    width: 100%;
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    height: 50px;
    margin-top: 20px;
    max-width: 180px;
}

body {
    display: flex;
    height: 100vh;
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.sidebar {
    border-right: 1px solid var(--twitter-background);
    flex: 0.30;
    margin-left: 20px;
    min-height: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
    max-width: 350px;
}

.fa-twitter {
    color: var(--twitter-color);
    font-size: 30px;
}

.home-link {
    color: var(--twitter-color);
    text-decoration: none;
}

.bookmarkLink {
    text-decoration: none;
    color: black;
}

.bookmarkLink:hover {
    color: var(--twitter-color);
}

/* Feed styling */

.feed {
    flex: 0.4;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
}

.feed::-webkit-scrollbar {
    display: none;
}

.feed__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
    text-align: center;
}

.feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Post box */

.postbox__input img {
    border-radius: 50%;
    height: 40px;
}

.postbox__input {
    display: flex;
    padding: 20px;
}

.input__Text {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
}

.postBox {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--twitter-background);
    padding-right: 10px;
}

.postBox form {
    display: flex;
    flex-direction: column;
}

.postBox__postButton {
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 800;
    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
}

.postBox__postButton:hover {
    cursor: pointer;
}

/* Post */

.post__avatar img {
    border-radius: 50%;
    height: 40px;
}

.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
    max-width: 640px;
}

.post__body img{
    width: 450px;
    object-fit: contain;
    border-radius: 20px;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;;
}

.bookmark:hover {
    background-color: #50b6f5d3;
    border-radius: 50%;
    cursor: pointer;
}

.post__badge {
    font-size: 14px !important;
    color: var(--twitter-color);
    margin-right: 5px;
}

.post__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
}

.post__headerText h3{
    font-size: 15px;
    margin-bottom: 5px;
}

.post__headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
}

.post__headerDescription p {
    overflow-wrap: break-word;
}

.post__body {
    flex: 1;
    padding: 10px;
}

.post__avatar {
    padding: 20px;
}

.divider {
    border: 1px solid var(--twitter-background);
}

.post__footer a {
    text-decoration: none;
    color: black;
}

.likeButton:hover {
    background-color: #ff38568c;
    border-radius: 50%;
    /* color: #ff3856; */
    border-radius: 50%;
    cursor: pointer;
}

.repostButton:hover {
    background-color: #42f5729a;
    border-radius: 50%;
    cursor: pointer;
}

.chatButton:hover {
    background-color: #50b6f5d3;
    border-radius: 50%;
    cursor: pointer;
}

.deleteButton {
    cursor: pointer;
}

/* Widgets */

.widgets {
    flex: 0.3;
}

.widgets__input {
    border: 1.2px solid var(--twitter-background);
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.widgets__input:focus-within {
    border: 1.2px solid var(--twitter-color);
}

.widgets__input input {
    border: none;
    outline: none;
}

.widgets__searchIcon {
    color: gray;
}

.widgets__widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
}

.widgets__widgetContainer h2 {
    font-size: 18px;
    font-weight: 800;
}

/* Delete Post */

.btn {
    border-radius: 25px;
    background-color: var(--twitter-color);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: none;
    height: 40px;
    width: 110px;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
}

.btn:hover {
    background-color: #299ce4;
 }

.postContent {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    line-height: 1.5;
    overflow-wrap: break-word;
}

.form {
    max-width: 550px;
}

.cancelButton {
    margin-left: 15px;
    text-decoration: none;
    color: var(--twitter-color);
}

.cancelButton:hover {
    text-decoration: underline;
}