{% extends "home.html" %}
{% load static %}
{% block title %}Delete Post{% endblock %}

{% block content %}
<div class="feed">
    <div class="feed__header">
        <h2>Are you sure you want to delete this?</h2>
    </div>    
    <form action="" method="post" class="form">
        {% csrf_token %}
        <div class="input">
            <p class="postContent"><em>Post to be deleted:</em> {{ post.content }} <strong>by {{ post.author.username }}</strong></p>
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <button type="submit" class="btn">Delete</button>
            <a href="{% url 'home' %}" class="cancelButton">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}