{% extends "home.html" %}
{% block title %}{{ profile_user.name }} ({{ profile_user.username }}) / Twitter{% endblock %}

{% block content %}

    <div class="feed">
        <!DOCTYPE html>
        <div class="profile-container">
            <div class="cover"></div>
            {% if profile_user.image %}
                <img src="{{ profile_user.image.url }}" alt="User photo" class="profile-pic">
            {% else %}
                <img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" alt="default user image" class="profile-pic">
            {% endif %}
            <div class="profile-info">
                <h2> {{ profile_user.name }} </h2>
                <p>@{{ profile_user.username }} </p>
                <p>{{ profile_user.bio }}</p>
                <a href="{% url "followers" profile_user.username %}" class="follower_count">
                    <p>{{ follow.count }} Followers</p>
                </a>
            </div>
            <div class="buttons">
                {% if user == profile_user %}
                    <a href="{% url 'update-profile' profile_user.username %}"><button>Edit Profile</button></a>
                {% else %}

                    <a href="{% url 'follow' profile_user.id %}"><button>Follow</button></a>
                {% endif %}
            </div>
            <div class="tabs">
                <a href="{% url 'link-profile' profile_user.username %}">Posts</a>
                <a href="{% url 'load-replies' profile_user.username %}">Replies</a>
                <a href="{% url 'load-likes' profile_user.username %}">Likes</a>
            </div>
        </div>

        
        {% if page == 'replies' %}
            {% for comment in comments %}
                <a href="{% url 'get-post' comment.author comment.id %}" class="postLink">
                    <div class="post">
                        <div class="post__avatar">
                            {% if comment.author.image %}
                                <img src="{{ comment.author.image.url }}" alt="User photo" class="user__image">
                            {% else %}
                                <img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" alt="default user image" class="default__image">
                            {% endif %}
                        </div>
                        <div class="post__body">
                            <div class="post__header">
                                <div class="post__headerText">
                                    <h3><a href="{% url "link-profile" comment.author.username %}" class="link__Profile">{{ comment.author }}</a>
                                        <span class="post__headerSpecial">
                                            <span class="material-symbols-outlined post__badge">verified</span>@{{ comment.author.username }} - {{ comment.created|timesince }}
                                        </span>
                                    </h3>
                                </div>
                                <div class="post__headerDescription">
                                    <p>{{ comment.content }}</p>
                                </div>
                            </div>
                            {% comment %} <img src="https://www.focus2move.com/wp-content/uploads/2020/01/Tesla-Roadster-2020-1024-03.jpg" alt=""> {% endcomment %}
                            <div class="post__footer">
                                <a href="{% url "like-post" comment.id %}"><span class="material-symbols-outlined likeButton">favorite</span> {{ like_count }}</a>
                                <a href="{% url "repost" comment.id %}"><span class="material-symbols-outlined repostButton">repeat</span></a>
                                <a href="{% url "add-comment" comment.author comment.id%}"><span class="material-symbols-outlined chatButton">chat</span></a>
                                <a href="{% url "add-bookmark" comment.id %}"><span class="material-symbols-outlined bookmark">bookmark</span></a>
                                {% if request.user == comment.author %}
                                    <a href="{% url "delete-post" comment.id %}"><span class="material-symbols-outlined deleteButton">delete</span></a>
                                    <a href="{% url "update-post" comment.id%}"><span class="material-symbols-outlined updateButton">update</span></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% endif %}
                

        
        {% if page == 'likes' %}
            {% for like in likes %}
                <a href="{% url 'get-post' like.author like.post.id %}" class="postLink">
                    <div class="post">
                        <div class="post__avatar">
                            {% if like.post.author.image %}
                                <img src="{{ like.post.author.image.url }}" alt="User photo" class="user__image">
                            {% else %}
                                <img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" alt="default user image" class="default__image">
                            {% endif %}
                        </div>
                        <div class="post__body">
                            <div class="post__header">
                                <div class="post__headerText">
                                    <h3><a href="{% url "link-profile" like.post.author.username %}" class="link__Profile">{{ like.post.author }}</a>
                                        <span class="post__headerSpecial">
                                            <span class="material-symbols-outlined post__badge">verified</span>@{{ like.author.username }} - {{ like.created|timesince }}
                                        </span>
                                    </h3>
                                </div>
                                <div class="post__headerDescription">
                                    <p>{{ like.post.content }}</p>
                                </div>
                            </div>
                            {% comment %} <img src="https://www.focus2move.com/wp-content/uploads/2020/01/Tesla-Roadster-2020-1024-03.jpg" alt=""> {% endcomment %}
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% endif %}

        {% for post in posts %}
        <a href="{% url 'get-post' post.author post.id %}" class="postLink">
            <div class="post">
                <div class="post__avatar">
                    {% if post.author.image %}
                        <img src="{{ post.author.image.url }}" alt="User photo" class="user__image">
                    {% else %}
                        <img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" alt="default user image" class="default__image">
                    {% endif %}
                </div>
                <div class="post__body">
                    <div class="post__header">
                        <div class="post__headerText">
                            <h3>{{ post.author}}
                                <span class="post__headerSpecial">
                                    <span class="material-symbols-outlined post__badge">verified</span>@{{ post.author.username }} - {{ post.created|timesince }}
                                </span>
                            </h3>
                        </div>
                        <div class="post__headerDescription">
                            <p>{{ post.content }}</p>
                        </div>
                    </div>
                    {% comment %} <img src="https://www.focus2move.com/wp-content/uploads/2020/01/Tesla-Roadster-2020-1024-03.jpg" alt=""> {% endcomment %}
                    <div class="post__footer">
                        <a href="{% url "like-post" post.id %}"><span class="material-symbols-outlined likeButton">favorite</span> {{ like_count }}</a>
                        <a href="{% url "repost" post.id %}"><span class="material-symbols-outlined repostButton">repeat</span></a>
                        <a href="{% url "add-comment" post.author post.id%}"><span class="material-symbols-outlined chatButton">chat</span></a>
                        <a href="{% url "add-bookmark" post.id %}"><span class="material-symbols-outlined bookmark">bookmark</span></a>
                        {% if request.user == post.author %}
                            <a href="{% url "delete-post" post.id %}"><span class="material-symbols-outlined deleteButton">delete</span></a>
                            <a href="{% url "update-post" post.id%}"><span class="material-symbols-outlined updateButton">update</span></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

{% endblock %}