<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/register_login.css' %}">
    <link rel="shortcut icon" href="../static/images/twitter.png" type="image/x-icon">
    <title>Sign up</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <a href=""><img src="../static/images/twitter.png" alt="Twitter Logo"></a>
            <h1>Sign up to Twitter</h1>
            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="input">
                    <p>{{ field.label }}</p>
                    {{ field }}
                    <hr>
                </div>
                {% endfor %}
                <br>
                <input type="submit" value="Sign up" class="btn">
            </form>
            <p class="forgot"><a href="{% url 'login' %}">Already have an account?</a></p>
        </div>
    </div>
</body>
</html>