{% extends "home.html" %}
{% block title %}Update Post{% endblock %}

{% block content %}
<div class="feed">
    <div class="feed__header">
        <h2>Update Profile</h2>
    </div>    
    <div class="update_profile_container">
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="input-group">
                    <label for="name">{{field.label}}</label>
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="update_profile_button">Save Changes</button>
        </form>
    </div>

</div>
{% endblock %}