{% extends "home.html" %}
{% block title %}Update Comment{% endblock %}

{% block content %}
<div class="feed">
    <div class="feed__header">
        <h2>Update Comment</h2>
    </div>    
    <form action="" method="post" class="form">
        {% csrf_token %}
        <div class="input">
            <input type="text" placeholder="Update Comment..." class="input__Text updateBlock" name="content" autocomplete="off" value="{{ post.content }}">
             {% comment %} <p class="postContent"><em>Post to be deleted:</em> {{ post.content }} <strong>by {{ post.author.username }}</strong></p> {% endcomment %}
            <input type="hidden" name="post_id" value="{{ comment.id }}">
            <button type="submit" class="btn">Update</button>
            <a href="{% url 'home' %}" class="cancelButton">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}